@using System.Security.Claims;
@using GamevaWeb.Data;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Videlo - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/bootswatch.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Videlo.styles.css" asp-append-version="true" />
    @await RenderSectionAsync("Styles", required: false)
</head>

<body>
    <nav class="navbar navbar-expand-sm bg-primary fixed-top" data-bs-theme="dark">
        <div class="container-fluid">
            <div class="d-flex">
                <button class="btn" type="button" id="btnSidebarToggle">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" asp-action="Index" asp-controller="Home">Videlo</a>
            </div>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarLayout" aria-controls="navbarLayout" aria-expanded="false">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarLayout">
                <form class="d-flex position-relative flex-grow-1 mx-sm-2 my-sm-0 my-2" method="get" asp-action="Index" asp-controller="Home">
                    <input class="form-control me-sm-2" type="search" placeholder="Search" name="searchQuery" id="video-search" value="@ViewBag.SearchQuery">
                    <button class="btn btn-secondary" type="submit">Search</button>
                    <ul class="list-group position-absolute w-100 top-100" id="search-suggestions">
                    </ul>
                </form>
                @if (User.Identity?.IsAuthenticated == true)
                {
                    <div class="nav-item dropdown">
                        <button class="nav-link dropdown-toggle" data-bs-toggle="dropdown" type="button" aria-haspopup="true" aria-expanded="false">@User.Identity.Name</button>
                        <div class="dropdown-menu dropdown-menu-sm-end">
                            @if (User.IsInRole(RoleConstants.Admin))
                            {
                                <a class="dropdown-item" asp-controller="Admin" asp-action="Index">Admin panel</a>
                            }
                            <a class="dropdown-item" asp-controller="Channel" asp-action="Videos" asp-route-userId="@User.FindFirstValue(ClaimTypes.NameIdentifier)">Your Channel</a>
                            <a class="dropdown-item" asp-controller="Channel" asp-action="Studio">Video Studio</a>
                            <a class="dropdown-item" asp-controller="VideoManagement" asp-action="Upload">
                                <i class="bi bi-upload"></i> Upload Video
                            </a>
                            <a class="dropdown-item" asp-controller="User" asp-action="ChangePassword">Change Password</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" asp-controller="Auth" asp-action="Logout">Log Out</a>
                        </div>
                    </div>
                }
                else
                {
                    <a class="btn btn-outline-light mx-sm-2 my-sm-0" asp-controller="Auth" asp-action="Register">Sign Up</a>
                    <a class="nav-link" asp-controller="Auth" asp-action="Login">Login</a>
                }
            </div>
        </div>
    </nav>

    <div class="container-fluid main-content-margin">
        <div class="row">
            <aside class="col-6 col-sm-4 col-md-3 col-lg-2 sidebar" id="sidebarCollapse">
                <div class="list-group">
                    <a asp-controller="Home" asp-action="Index" class="list-group-item list-group-item-action">Home</a>
                    <a asp-controller="Home" asp-action="Subscriptions" class="list-group-item list-group-item-action">Subscriptions</a>
                </div>
                <hr />
                @if (User.Identity?.IsAuthenticated == true)
                {
                    <div class="list-group">
                        <a asp-controller="Stats" asp-action="History" class="list-group-item list-group-item-action">Watch history</a>
                        <a asp-controller="Stats" asp-action="Playlist" asp-route-likeFilter="true" class="list-group-item list-group-item-action">Liked videos</a>
                        <a asp-controller="Stats" asp-action="Playlist" asp-route-likeFilter="false" class="list-group-item list-group-item-action">Disliked videos</a>
                    </div>
                    <hr />
                    <h4>Subscriptions</h4>
                    <div id="subscriptionList">
                        @await Component.InvokeAsync("SubscriptionList")
                    </div>
                }
                else
                {
                    <span>
                        <a asp-controller="Auth" asp-action="Login">Sign in</a> to like videos, comment, and subscribe.
                    </span>
                }
            </aside>

            <main class="col-lg-10 offset-lg-2" role="main">
                @RenderBody()
            </main>

        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/layout/video-search.js" asp-append-version="true"></script>
    <script src="~/js/layout/sidebar-menu.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
