@using Microsoft.Extensions.Options;
@using Videlo.Configuration;
@using Videlo.Models.Database;

@inject IOptions<AWSConfiguration> AWSOptions

@model Video


<div class="card border-dark h-100">
    <a asp-controller="Video" asp-action="Watch" asp-route-videoId="@Model.Id">
        <div class="d-flex align-items-center justify-content-center shadow-sm video-thumb-height video-thumb overflow-hidden">
            <img class="mh-100 mw-100" src="@($"{AWSOptions.Value.BaseURL}{Model.ThumbnailPath}")" alt="Video thumbnail">
        </div>
    </a>
    <div class="card-body">
        <h4 class="card-title video-card-title">
            <a asp-controller="Video" asp-action="Watch" asp-route-videoId="@Model.Id">
                @Model.Title
            </a>
        </h4>
        <p class="card-text text-muted">
            <a asp-controller="Channel" asp-action="Videos" asp-route-userId="@Model.UserId">
                @Model.User.UserName
            </a>
        </p>
    </div>
    <div class="card-footer text-muted">
        <small class="text-muted">@Model.ViewCount views</small>
        <br>
        <small class="text-muted">@Model.CreatedAt</small>
    </div>
</div>