@using Videlo.Data.Enums;
@using Videlo.Models.Database;

@model User

@{
    ViewData["Title"] = @Model.UserName;
}

<h2><a class="dropdown-item" asp-controller="Channel" asp-action="Videos" asp-route-userId="@Model.Id">@Model.UserName</a></h2>
<h4>Channel content</h4>

<ul class="nav nav-tabs mb-3" role="tablist" id="video-filters" data-userid="@Model.Id">
    <li class="nav-item" role="presentation">
        <div class="nav-link active" type="button" data-bs-toggle="tab" aria-selected="true" role="tab" id="videos-new" data-filter="@ChannelVideosFilter.Newest">Newest</div>
    </li>
    <li class="nav-item" role="presentation">
        <div class="nav-link" type="button" data-bs-toggle="tab" aria-selected="false" role="tab" id="videos-old" data-filter="@ChannelVideosFilter.Oldest">Oldest</div>
    </li>
    <li class="nav-item" role="presentation">
        <div class="nav-link" type="button" data-bs-toggle="tab" aria-selected="false" role="tab" id="videos-popular" data-filter="@ChannelVideosFilter.Popular">Popular</div>
    </li>
</ul>


<div id="videos-container" data-userid="@Model.Id" data-viewname="_StudioVideos">
</div>

@section Scripts {
    <script type="text/javascript" src="~/js/video/ui/sub-button-toggle.js"></script>
    <script type="text/javascript" src="~/js/video/services/channel-subscription-request.js"></script>

    <script type="text/javascript" src="~/js/channel/ui/channel-videos.js"></script>
    <script type="text/javascript" src="~/js/channel/services/get-channel-videos-request.js"></script>
}